.navbar-brand > img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 95%;
}

.navbar-header {
  text-align: center;
}
#bs-example-navbar-collapse-1 {
  text-align: center;
}

.padtop {
  padding-top: 10% !important;
}
